

.breadcrumb-back {
	padding: 0.625em 0;
}


.driver-info div.driver-picture {
	float: left;
	width: 80px;
}

.driver-info div.driver-country {
	float: left;
	width: 40px;
}

.driver-info div.driver-name {
	float: left;
	width: 80px;
}

.driver-status {
	margin: 10px 0;
	width: 165px;
}

.driver-status strong {
	width: 75px;

}
.driver-status span {
	width: 90px;
}

td.flag img {
	margin-right: 10px;
}